.gallery-container {

  .magazine-preview-container {
    background: #fff;
    border-radius: 5px;
    box-shadow: hsla(0, 0, 0, 0.2) 0 4px 2px -2px;
    font-family: 'adelle-sans', sans-serif;
    font-weight: 100;
    margin: 48px auto;
    width: 30rem;

    .cover {
      border-radius: 5px 5px 0 0;
      height: 60rem;
      box-shadow: inset hsla(0, 0, 0, 0.2) 0 64px 64px 16px;
    }

    .body {
      margin: 0 auto;
      width: 80%;

      .title {
        color: #333 !important;
        font-weight: 100;
        font-size: 30px;
        padding-bottom: 20px;
        padding-top: 20px;
      }
    }
  }
  @media screen and (min-width: 480px) {
    .magazine-preview-container { width: 58rem; }
  }
  @media screen and (min-width: 767px) {
    .magazine-preview-container { width: 70rem; }
  }
  @media screen and (min-width: 959px) {
    .magazine-preview-container { width: 80rem; }
  }
}
